.menuItem {
    display:block;
    margin:auto;
    text-align: center;
}

#divGame{
    display:block;
    margin:auto;
}

.centerDiv {
    text-align: center;
}

#accueil{
    margin-top: 15%;
}

  
.buttonClass{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color:white;
    border : lightskyblue;
    font-family: 'Comic Sans MS';
}

.buttonClass:hover:enabled{
    background-color:grey;
    color : white;
}

#welcome{
    margin-top: 45px;;
}
  
#joinGame{
    margin-top: 15px;
}

li{
    list-style-type: none;
}

body{
    font-family: 'Comic Sans MS';
    background: linear-gradient(lightskyblue,lightblue);
    color:black;
}

input {
    width : 200px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Comic Sans MS';
}

canvas {
    bottom :0;
    right: 0;
    margin: auto;
    margin-top: 150px;
}
